*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/

cfg/
darknet
yolo9000-weights/
yolov3-openimages.weights
yolov3.weights
darknet19_448.conv.23
.fuse*
data/img/
# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
